@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #000000dd;
}

.icon {
  position: fixed;
  width: 110px;
  top: 20px;
  left: 50%;
  margin-left: -55px;
}

nav > ul {
  margin: 0 7% 0 7%;
  display: flex;
  align-items: center;
  justify-content: space-evenly
  ;
  min-height: 75px;
  height: auto;
}

nav > ul > li {
  display: inline;
}

nav a {
  margin: 1em;
  color: #d4d4d4;
  font-size: 1.3em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav a:hover:after {
  width: 100%;
  left: 0;
}

nav a:hover {
  color: #fff;
}

.icon-spacer {
    width: 110px;
}
